
    .beatles {
        background: #638A75;
        font face="verdana" color="green"
    }

    .stones {
         background: #EC644C;
     }

    .who {
        background: #D1B47A;
    }

    .band {
        width:1000px;
        height: 60px;
    }
