

    .day {
        background: #E5FCC2;
        font-family: "Helvetica", sans-serif;
        border-style: solid;
    border-color: #E5FCC2;


    }
    .week {
        background: #547980;
        font-family: "Helvetica", sans-serif;
        
    }

    .month {
         background: #9DE0AD;
         font-family: "Helvetica", sans-serif;
     }

    .year {
        background: #45ADA8;
        font-family: "Helvetica", sans-serif;
    }

    .Clementine {
        width:200px;
        height: 100px;
    
    }
    body {background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/16/Appearance_of_sky_for_weather_forecast,_Dhaka,_Bangladesh.JPG"); width: 5000px, height 1000px} 
    